<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<html>
   <body>
      <form action = "/login" method = "POST">
         <p>Enter User Name:</p>
         <p><input type = "text" name = "user" /></p>
         <p>Enter Password:</p>
         <p><input type = "password" name = "pasw" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>   
   </body>
</html> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>

